
<a class="btn btn-default " routerLink="/newOrder" routerLinkActive="active">Nowe zamówienie </a>
<section>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Klient</th>
                <th>Data</th>
                <th>Kwota brutto</th>
                <th>Dokumenty</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of (orderListVM)?.Orders | paginate: { pageSize:6, currentPage: p }">
                <td></td>
                <td>{{order.CompanyName}}</td>
                <td>{{order.Date | date:'d.MM.y'}}</td>
            
                <td>{{order.Total | plCurrency}} </td>
                <td>
                    <ng-container *ngIf="!order.Invoiced">
                        <button type="button" class="btn btn-default " (click)="makeInvoice(order)">Utwórz fakturę</button>
                    </ng-container>
                    <ng-container *ngIf="order.Invoiced">
                        <button type="button" class="btn btn-default " (click) ="downloadFile(order.InvoiceId)">{{order?.InvoiceNumber}} </button>
                    </ng-container>
                </td>
                <td class="text-right">
                    <button type="button" class="btn btn-default " (click)="editOrder(order.Id)">Edytuj </button>
                    <button type="button" class="btn btn-danger" (click)="deleteOrder(order.Id)">Usuń </button>
                </td>
            </tr>
        </tbody>
    </table>
    <paginate-component totalItems="{{(orderListVM)?.Orders.length}}" (pageChanged)="p = $event" [pageSize]=6> </paginate-component>
</section>

<p>Jest: {{orderListVM?.Count}}</p>
